.idea
.mypy_cache
.nox
.pytest_cache
dist
build
htmlcov
site
__pycache__
*.pyc
*.egg-info
.coverage
.coverage.*
ssl/
*.pem
*.key
*.json
*.log
*.env
*.env
.env
.web.config
ssl/
get_ssl_certificate.sh

